{% extends "layout.html" %}

{% block title %}
    Welcome! Please Log in...
{% endblock %}

{% block body %}
    <h1>Hello! Please do log in:</h1>
    <form action="{{ url_for('landing') }}" method="post">
        <input type="text" name="name" placeholder="Enter Your Name">
        <input type="password" name="password" placeholder="*">
        <button>Submit</button>
        {% if wrong_credentials %}
        <div class="alert alert-warning">
          <strong>Invalid Credentials</strong> Either Username doesnt exist or password is wrong. Try again.
        </div>
        {% endif %}
    </form>
    <a href="{{ url_for('register') }}">Register a user</a>
{% endblock %}
